
.vs/Northwind_AdoDotNet/v16/.suo
.vs/Northwind_AdoDotNet/v16/Server/sqlite3/db.lock
.vs/Northwind_AdoDotNet/v16/Server/sqlite3/storage.ide
.vs/Northwind_AdoDotNet/v16/Server/sqlite3/storage.ide-shm
.vs/Northwind_AdoDotNet/v16/Server/sqlite3/storage.ide-wal
